html {
    background: #ddd;
    height: 100%;
}

body {
    margin: 0px;
    color: #222;
    background: #fcfcfc;
    font: 12pt sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 10px;
    flex-grow: 1;
}

section {
    margin: 5px;
}

section header {
    font-size: 12pt;
    border-radius: 10px;
}

footer, header {
    font-size: 18px;
    padding: 6px;
    background: #034769;
    color: #fafafa;
}

footer {
    text-align: center;
    flex-shrink: 0;
}

label {
    display: block;
}

input, select, button {
    margin: 5px;
    font-size: 12pt;
    border-color: #086fa1;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

button {
    color: #222;
}

#valves {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#valves label {
    margin: 0;
    width: 30px;
    text-align: center;
}

.toggle_button {
    margin: 0;
    height: 60px;
    width: 30px;
    vertical-align: center;
    background: #fff;
    border: 1px solid #086fa1;
    border-radius: 15px;
    outline: none;
    position: relative;
    display: inline-block;
    appearance: none;
    -moz-appearance: none;
}

.toggle_button::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 1px;
    top: 2px;
    width: 26px;
    height: 26px;
    background-color: gray;
    border-radius: 50%;
    transform: translateY(0);
}

.toggle_button:checked::after {
    transform: translateY(calc(100% + 2px));
    background-color: red;
}

.valves {
    flex: 1 1 auto;
    max-width: 50px;
}

.warning {
    background-color: yellow;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

#info {
    width: 100%;
    height: 200px;
}
